---
title: "<%= blog_metadata_title %>"
categories: releases
author: ADD_YOUR_FULL_NAME
author_gitlab: <%= ENV.fetch('USER', 'GITLAB_USERNAME') %>
author_twitter: gitlab
description: "<%= blog_metadata_description %>"
canonical_path: '<%= metadata_canonical_path %>'
image_title: '/images/blogimages/security-cover-new.png'
tags: security
---

<!-- For detailed instructions on how to complete this, please see https://gitlab.com/gitlab-org/release/docs/-/blob/master/general/patch/blog-post.md -->

Today we are releasing versions <%= versions_str %> for GitLab Community Edition (CE) and Enterprise Edition (EE).

These versions contain important security fixes, and we strongly recommend that all GitLab installations be upgraded to
one of these versions immediately. GitLab.com is already running the patched version.

GitLab releases patches for vulnerabilities in dedicated security releases. There are two types of security releases:
a monthly, scheduled security release, released a week after the feature release (which deploys on the 3rd Thursday of each month),
and ad-hoc security releases for critical vulnerabilities. For more information, you can visit our [security FAQ](https://about.gitlab.com/security/faq/).
You can see all of our regular and security release blog posts [here](/releases/categories/releases/).
In addition, the issues detailing each vulnerability are made public on our
[issue tracker](https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=created_date&state=closed&label_name%5B%5D=bug%3A%3Avulnerability&confidential=no&first_page_size=100)
30 days after the release in which they were patched.

We are dedicated to ensuring all aspects of GitLab that are exposed to customers or that host customer data are held to
the highest security standards. As part of maintaining good security hygiene, it is highly recommended that all customers
upgrade to the latest security release for their supported version. You can read more
[best practices in securing your GitLab instance](/blog/2020/05/20/gitlab-instance-security-best-practices/) in our blog post.

### Recommended Action

We **strongly recommend** that all installations running a version affected by the issues described below are **upgraded to the latest version as soon as possible**.

When no specific deployment type (omnibus, source code, helm chart, etc.) of a product is mentioned, this means all types are affected.

## Table of fixes

| Title | Severity |
| ----- | -------- |
<%- sorted_table_content.each do |security_issue| -%>
| [<%= security_issue_header(security_issue) %>](#<%= security_issue_slug(security_issue) %>) | <%= displayed_severity(security_issue) %> |
<%- end -%>

<%- sorted_security_content.each do |security_issue| -%>
### <%= security_issue_header(security_issue) %>

<%= security_issue_blog_content(security_issue) %>

<%- end -%>
## Non Security Patches
<%- patch_content.each do |release| -%>
<%- next unless release[:pressure].positive? -%>

### <%= release[:version] %>

  <%- release[:merge_requests].each do |_, project_merge_requests| -%>
    <%- project_merge_requests.each do |merge_request| -%>
* [<%= merge_request['title'] %>](<%= merge_request['web_url'] %>)
    <%- end -%>
  <%- end -%>
<%- end -%>

## Updating

To update GitLab, see the [Update page](/update).
To update Gitlab Runner, see the [Updating the Runner page](https://docs.gitlab.com/runner/install/linux-repository.html#updating-the-runner).

## Receive Security Release Notifications

To receive security release blog notifications delivered to your inbox, visit our [contact us](https://about.gitlab.com/company/contact/) page.
To receive release notifications via RSS, subscribe to our [security release RSS feed](https://about.gitlab.com/security-releases.xml) or our [RSS feed for all releases](https://about.gitlab.com/all-releases.xml).
