## Overview

| Start date | End date | Production deployments blocked for | # of blockers |
| ------ | -------- | ------| ------ |
| <%= start_time %> | <%= end_time %> | <%= production_blocked_time %> | <%= deployment_blockers.count %> |

## Weekly overview

| Issue  | Blocker type | gstg | gprd |
| ------------ | -----------| ---- | ---- |
<% deployment_blockers.map do |issue| -%>
| <%= issue.title %> | <%= issue.root_cause %> | <%= issue.hours_gstg_blocked %> | <%= issue.hours_gprd_blocked %> |
<% end -%>
| **Total** | | **<%= staging_blocked_time %>** | **<%= production_blocked_time %>** |

## Additional incidents

Below is a list of production incidents created last week.

<details><summary>Click to expand</summary>

| Issue   |
| ------- |
<% uncategorized_incidents.map do |issue| -%>
| <%= issue.title %> |
<% end %>

</details>

## Instructions

- [ ] Review the "Additional incidents" list and add the `Deploys-blocked` label if required.
- [ ] Update the "weekly overview" table of this issue to also include:
  - [ ] any blocking CRs
  - [ ] the Root Cause type for each blocker (if this one is missing)
- [ ] Update the [Deployments metric review] epic.
  - [ ] Add a new row to the Overview section: Copy and paste the information from the Overview section in this issue and link to this issue in the `Breakdown of blockers` column.
  - [ ] Update the Graph: Update the data on the [spreadsheet] and then update the graph on the [Deployments metric review] epic.

[Deployments metric review]: https://gitlab.com/groups/gitlab-com/gl-infra/-/epics/873
[spreadsheet]: https://docs.google.com/spreadsheets/d/1wzZE-3EU14jS0tkEDWrW7oCLH5Xr9ptwxQ8DEDgCxTA/edit#gid=1384890750
